.hero-mobile {
    width: 100%;
}

.text {
    padding: 10px;
}

.text .title {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 700;
}

.text .paragraph {
    font-size: 14px;
    color: var(--medium-gray);
    font-weight: 500px;
    line-height: 26px;
    margin-bottom: 26px;
}

.text button {
    font-size: 16px;
    font-weight: 700;
    background-color: var(--almost-black);
    color: var(--almost-white);
    padding: 15px 40px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    margin-bottom: 35px;
}

.brands {
    display: flex;
    justify-content: center;
    gap: 26px;
    margin-bottom: 50px;
}

.brands .databiz {
    width: 80px;
    height: 14px;
}

.brands .audiophile {
    width: 52px;
    height: 26px;
}

.brands .meet {
    width: 64px;
    height: 14px;
}

.brands .maker {
    width: 58px;
    height: 17px;
}

@media(min-width: 768px) {

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    img {
        max-width: 50%;
        height: auto;
    }
    

    main .text {
        padding: 25px;
    }

    .text .paragraph {
        margin-bottom: 40px;
        font-size: 18px;
    }

    .text button {
        margin-bottom: 90px;
    }

    .text .title {
        font-size: 50px;
        margin-bottom: 10px;
        font-weight: 700;
    }

    .text .paragraph {
        font-size: 28px;
        line-height: 40px;
    }

    .text button {
        font-size: 20px;
        font-weight: 700;
        padding: 20px 60px;
        border-radius: 15px;
        border: none;
        cursor: pointer;
        margin-bottom: 35px;
    }

    .brands .databiz {
        width: 100px;
        height: 18px;
    }
    
    .brands .audiophile {
        width: 65px;
        height: 33px;
    }
    
    .brands .meet {
        width: 80px;
        height: 18px;
    }
    
    .brands .maker {
        width: 70px;
        height: 25px;
    }
}

@media (min-width: 1024px) {
    main {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        text-align: left;
        padding: 0 80px;
        gap: 100px;
        margin: 0 auto;
    }

    img {
        max-width: 90%;
        height: auto;
    }

    main .text {
        padding: 0 80px;
    }

    .text .title {
        font-size: 60px;
        line-height: 70px;
    }

    .text .paragraph {
        font-size: 18px;
        line-height: 25px;
    }

    main .brands {
        display: flexbox;
        justify-content: flex-start;
    }

    .text button {
        margin-bottom: 120px;
    }

}